
@{
    //    Layout = null;
    ViewBag.Title = "Home";
}

    <div> 
        <h2>welcome</h2>
        <hr />
        <p>Hey, nice meeting you here, we are having a party!</p>
        <p>Please @Html.ActionLink("RSVP here", "RSVP")</p>
    </div>

